services:
  - type: web
    name: pocketbase-server
    env: docker
    plan: free
    region: singapore
    autoDeploy: true
    envVars:
      - key: PORT
        value: 8090
    healthCheckPath: /
